

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 100px;
        aspect-ratio: 1;
    }

    nav {
        display: flex;
        gap: 1rem;
    }
}